In [104]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [105]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [106]:
data =data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [107]:
#encode categorical variable

label_gender= LabelEncoder()
data['Gender']=label_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [108]:
#one hot encoding "geography "
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder=OneHotEncoder()
geo_encoder=one_hot_encoder.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [109]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [110]:
geo_encoder_df= pd.DataFrame(geo_encoder.toarray(),columns=one_hot_encoder.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [111]:
#combine 
data = pd.concat([data.drop('Geography',axis=1),geo_encoder_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [112]:
#save the encoder and scaler 

with open ('encoder_gender.pkl','wb') as file:
    pickle.dump(label_gender,file)
    
with open('one_hot_encoder', 'wb') as file:
    pickle.dump(one_hot_encoder,file)

In [113]:
#divide and scaler 
X=data.drop('Exited',axis=1)
y=data['Exited']

X_train, X_test, ytrain, ytest= train_test_split(X,y,test_size=2,random_state=42)
scale = StandardScaler()
X_train=scale.fit_transform(X_train)
X_test=scale.transform(X_test)

In [114]:
X_train

array([[-0.51250729, -1.09578666,  0.48416327, ..., -1.00280449,
        -0.57865919,  1.74250804],
       [-1.49537231,  0.9125864 ,  1.91436606, ..., -1.00280449,
         1.72813292, -0.57388544],
       [-0.93669114, -1.09578666, -1.13673323, ..., -1.00280449,
        -0.57865919,  1.74250804],
       ...,
       [ 0.8738497 , -1.09578666, -0.08791785, ...,  0.99720335,
        -0.57865919, -0.57388544],
       [ 0.17032526,  0.9125864 ,  0.38881642, ...,  0.99720335,
        -0.57865919, -0.57388544],
       [ 0.48070369,  0.9125864 ,  1.15159124, ..., -1.00280449,
         1.72813292, -0.57388544]])

In [115]:
with open('scale', 'wb') as file:
    pickle.dump(scale,file)

In [116]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [117]:
X_train.shape[1]

X_train

array([[-0.51250729, -1.09578666,  0.48416327, ..., -1.00280449,
        -0.57865919,  1.74250804],
       [-1.49537231,  0.9125864 ,  1.91436606, ..., -1.00280449,
         1.72813292, -0.57388544],
       [-0.93669114, -1.09578666, -1.13673323, ..., -1.00280449,
        -0.57865919,  1.74250804],
       ...,
       [ 0.8738497 , -1.09578666, -0.08791785, ...,  0.99720335,
        -0.57865919, -0.57388544],
       [ 0.17032526,  0.9125864 ,  0.38881642, ...,  0.99720335,
        -0.57865919, -0.57388544],
       [ 0.48070369,  0.9125864 ,  1.15159124, ..., -1.00280449,
         1.72813292, -0.57388544]])

In [118]:


!pip install tensorflow

Requirement already satisfied: tensorflow in /opt/anaconda3/lib/python3.12/site-packages (2.18.0)
Requirement already satisfied: absl-py>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (24.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (4.25.3)
Requirement already satisfied: requests<3,>=2.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (75.8.0)
Requirement already satisfied: six>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (1.70.0)
Requirement already satisfied: tensorboard<2.19,>=2.18 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (2.18.0)
Requirement already satisfied: keras>=3.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (3.8.0)
Requirement already satisfied: numpy<2.1.0,>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (1.26.4)
Requirement already satisfied: h5py>=3.11.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (3.11.0)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorflow) (0.4.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (13.7.1)
Requirement already satisfied: namex in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in /opt/anaconda3/lib/python3.12/site-packages (from keras>=3.5.0->tensorflow) (0.14.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2.21.0->tensorflow) (2024.12.14)
Requirement already satisfied: markdown>=2.6.8 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from tensorboard<2.19,>=2.18->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from werkzeug>=1.0.1->tensorboard<2.19,>=2.18->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from rich->keras>=3.5.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in /opt/anaconda3/lib/python3.12/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.0)

In [119]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [120]:
#build an Ann Model 

model= Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), #hidden layer 1
    Dense(32,activation='relu'),# hidden layer 2
    Dense(1,activation="sigmoid") #output layer
    
    
])

/opt/anaconda3/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [121]:
model.summary()

Model: "sequential_45"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_135 (Dense)               │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_136 (Dense)               │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_137 (Dense)               │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [125]:
#loss and opt 
import tensorflow

opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss= tensorflow.keras.losses.BinaryCrossentropy()
loss

In [126]:
#compile the model
model.compile(optimizer=opt,loss="BinaryCrossentropy",metrics=['accuracy'])

In [127]:
#set up the tensorboard 

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/"+datetime.datetime.now().strftime("%d/%m/%Y")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [130]:
#set up the Early stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [132]:
### TRAIN THE MODEL 
history = model.fit(
    X_train,ytrain,validation_data=(X_test,ytest),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.8186 - loss: 0.4282 - val_accuracy: 1.0000 - val_loss: 0.0344
Epoch 2/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 736us/step - accuracy: 0.8577 - loss: 0.3534 - val_accuracy: 1.0000 - val_loss: 0.0640
Epoch 3/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 675us/step - accuracy: 0.8557 - loss: 0.3520 - val_accuracy: 1.0000 - val_loss: 0.0543
Epoch 4/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 754us/step - accuracy: 0.8604 - loss: 0.3333 - val_accuracy: 1.0000 - val_loss: 0.0375
Epoch 5/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8640 - loss: 0.3351 - val_accuracy: 1.0000 - val_loss: 0.0463
Epoch 6/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 844us/step - accuracy: 0.8617 - loss: 0.3399 - val_accuracy: 1.0000 - val_loss: 0.0291
Epoch 7/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 712us/step - accuracy: 0.8578 - loss: 0.3370 - val_accuracy: 1.0000 - val_loss: 0.0639
Epoch 8/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8695 - loss: 0.3226 - val_accuracy: 1.0000 - val_loss: 0.0518
Epoch 9/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 675us/step - accuracy: 0.8629 - loss: 0.3306 - val_accuracy: 1.0000 - val_loss: 0.0324
Epoch 10/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8675 - loss: 0.3310 - val_accuracy: 1.0000 - val_loss: 0.0210
Epoch 11/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 840us/step - accuracy: 0.8595 - loss: 0.3408 - val_accuracy: 1.0000 - val_loss: 0.0251
Epoch 12/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 670us/step - accuracy: 0.8652 - loss: 0.3303 - val_accuracy: 1.0000 - val_loss: 0.0404
Epoch 13/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step - accuracy: 0.8632 - loss: 0.3287 - val_accuracy: 1.0000 - val_loss: 0.0360
Epoch 14/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 676us/step - accuracy: 0.8718 - loss: 0.3192 - val_accuracy: 1.0000 - val_loss: 0.0240
Epoch 15/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 707us/step - accuracy: 0.8685 - loss: 0.3149 - val_accuracy: 1.0000 - val_loss: 0.0289
Epoch 16/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 696us/step - accuracy: 0.8699 - loss: 0.3149 - val_accuracy: 1.0000 - val_loss: 0.0282
Epoch 17/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 910us/step - accuracy: 0.8681 - loss: 0.3183 - val_accuracy: 1.0000 - val_loss: 0.0259
Epoch 18/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8695 - loss: 0.3108 - val_accuracy: 1.0000 - val_loss: 0.0266
Epoch 19/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 879us/step - accuracy: 0.8680 - loss: 0.3196 - val_accuracy: 1.0000 - val_loss: 0.0251
Epoch 20/100
313/313 ━━━━━━━━━━━━━━━━━━━━ 0s 671us/step - accuracy: 0.8704 - loss: 0.3142 - val_accuracy: 1.0000 - val_loss: 0.0334

In [133]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [143]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [145]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 8618), started 0:01:07 ago. (Use '!kill 8618' to kill it.)